@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Alliance No.2";
  src: url("./fonts/alliance-no-2-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alliance No.2";
  src: url("./fonts/alliance-no-2-light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alliance No.2";
  src: url("./fonts/alliance-no-2-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alliance No.2";
  src: url("./fonts/alliance-no-2-semi-bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alliance No.2";
  src: url("./fonts/alliance-no-2-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GeistSans";
  src: url("./fonts/GeistVF.woff") format("woff-variations");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "GeistMono";
  src: url("./fonts/GeistMonoVF.woff") format("woff-variations");
  font-weight: 100 900;
  font-display: swap;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Alliance No.2", Arial, Helvetica, sans-serif;
}

.font-geist-sans {
  font-family: "GeistSans", sans-serif;
}

.font-geist-mono {
  font-family: "GeistMono", monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
